.add-book {
  background-color: #fff5cf;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.add-book .div {
  background-color: #fff5cf;
  height: 832px;
  overflow: hidden;
  position: relative;
  width: 1280px;
}

.add-book .overlap-group {
  height: 93px;
  left: 0;
  position: absolute;
  top: -3px;
  width: 1280px;
}

.add-book .rectangle {
  background-color: #f3c623;
  height: 90px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 1280px;
}

.add-book .frame {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 22px;
  position: absolute;
  top: 0;
  width: 1242px;
}

.add-book .frame-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 61px;
  position: relative;
}

.add-book .logo-white {
  height: 63px;
  position: relative;
  width: 132px;
}

.add-book .frame-3 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 2px;
  position: relative;
}

.add-book .yellow-bear {
  height: 90px;
  object-fit: cover;
  position: relative;
  width: 134px;
}

.add-book .three-animals {
  height: 74px;
  object-fit: cover;
  position: relative;
  width: 101px;
}

.add-book .frame-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 51px;
  position: relative;
}

.add-book .frame-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 35px;
  position: relative;
}

.add-book .div-wrapper {
  align-items: center;
  background-color: #f4f6ff;
  border-radius: 30px;
  display: flex;
  gap: 10px;
  height: 45px;
  justify-content: center;
  padding: 5px 2px;
  position: relative;
  width: 120px;
}

.add-book .text-wrapper {
  color: #572e16;
  font-family: "LaundryGothic-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.add-book .solid-interface-menu-1 {
  height: 35px !important;
  position: relative !important;
  width: 35px !important;
}

.add-book .frame-6 {
  align-items: flex-start;
  background-color: #fffcf1;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 752px;
  left: 97px;
  padding: 50px 25px;
  position: absolute;
  top: 135px;
  width: 1100px;
}

.add-book .frame-7 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 30px 30px;
  position: relative;
  width: 1050px;
}

.add-book .img {
  height: 399px;
  position: relative;
  width: 348px;
}

.add-book .frame-wrapper {
  align-items: flex-start;
  background-color: #ffffff;
  border: 15px solid;
  border-color: #f3c623;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 450px;
  padding: 52px 39px;
  position: relative;
  width: 800px;
}

.add-book .frame-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 17px;
  height: 295px;
  position: relative;
  width: 588px;
}

.add-book .view {
  align-items: center;
  background-color: #f3c623;
  border-radius: 20px;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 10px 10px;
  justify-content: center;
  padding: 9px 5px;
  position: relative;
  width: 220px;
  height: 100%;
}

/* 호버 시 색상 변경 */
.add-book .view:hover {
  background-color: #d1a512; /* 호버 시 진한 색상 */
}

.add-book .frame-9 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
  width: 100%;
}

.add-book .text-wrapper-2 {
  color: #000000;
  font-family: "LaundryGothic-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  height: 35px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 66px;
}

.add-book .rectangle-2 {
  background-color: #d9d9d9;
  height: 40px;
  position: relative;
  width: 1px;
}

.add-book .text-wrapper-3 {
  color: #000000;
  font-family: "LaundryGothic-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  height: 35px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 489px;
}

.add-book .text-wrapper-4 {
  color: #000000;
  font-family: "LaundryGothic-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 66px;
}

.add-book .text-wrapper-5 {
  color: #000000;
  font-family: "LaundryGothic-Regular", Helvetica;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 66px;
}

.add-book .text-wrapper-6 {
  color: #000000;
  font-family: "LaundryGothic-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.add-book .frame-24 {
  align-items: center;
  background-color: #f4f6ff;
  border-radius: 30px;
  display: flex;
  gap: 10px;
  height: 45px;
  justify-content: center;
  padding: 5px 2px;
  position: relative;
  width: 120px;
}

.add-book .frame-24:hover {
  background-color: #CCCCCC
}

.add-book .text-wrapper-10 {
  color: #572e16;
  font-family: "LaundryGothic-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  background-color: transparent; /* 배경색 투명 */
  border: none; /* 경계선 제거 */
}
